﻿<template>
    <div>
        <div v-if="isAddLaptop === false">
            <div class="row">
                <div class="col-md-4">
                    <label>Search : </label>
                    <input type="text" v-model="filterByName" @change="fetch()" />
                </div>
            </div>

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Laptop Name</th>
                        <th>Laptop Qty</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(laptop,index) in laptops" :key="index">
                        <td>{{laptop.laptopName}}</td>
                        <td>{{laptop.laptopQty}}</td>
                        <td>
                            <a :href="'/laptop/updateLaptop?laptopId='+laptop.laptopId" class="btn btn-warning">
                                <fa-icon icon="edit"></fa-icon>
                                Edit
                            </a>
                            <button class="btn btn-danger" @click="deleteLaptop(laptop)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-10">
                    <ul class="pagination">
                        <li v-for="page in totalPage" class="page-item">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-primary" type="button" @click="addNewLaptop">
                <fa-icon icon="plus-square"></fa-icon>
                Insert New Laptop
            </button>
        </div>

        <div v-if="isAddLaptop === true">
            <validation-observer ref="observer" v-slot="{validate, valid}">
                <form method="post" @submit.prevent="insertLaptop">
                    <label class="col col-form-label">Laptop Name</label>
                    <validation-provider name = "name" rules="required|max:7|min:3" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newLaptop.laptopName" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <label class="col col-form-label">Qty</label>
                    <validation-provider name = "Qty" rules="required" v-slot="{errors}">
                        <input class="form-control" type="number" v-model="newLaptop.laptopQty" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div> 
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { LaptopService, LaptopModel } from '../services/NSwagService';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: ListLaptop) {
            await this.fetch();
            //await this.getLaptops();
           
        }
    })

    export default class ListLaptop extends Vue {
        service: LaptopService = new LaptopService();

        laptops: LaptopModel[] = [];

        isAddLaptop = false;

        newLaptop: LaptopModel = {
            laptopName: '',
            laptopQty: 0
        }

        async getLaptops(): Promise<void> {
        this.laptops = await this.service.getAllLaptop();
        }

        async insertLaptop(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
            return;
            }
            this.newLaptop.laptopQty;
            await this.service.insertLaptop(this.newLaptop);
            await this.fetch();

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });

            this.isAddLaptop = false;
        }

        addNewLaptop(): void {
        this.isAddLaptop = true;
        return;
        }

        async deleteLaptop(laptopId): Promise<void> {

            swal.fire({
                title: 'Are you sure?',
                text: "Delete this laptop data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.deleteLaptop(laptopId);
                    await this.service.getAllLaptop();
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    ).then(async (result) => { window.location.href = '/laptop/index' })
    
                }
            })
        }

        filterByName = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;

        async fetch(): Promise<void> {
            this.totalData = await this.service.totalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

            this.laptops = await this.service.filter(this.pageIndex, this.itemPerPage, this.filterByName);
        }

        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.fetch();
        }
    }
</script>
