<template>
    <validation-observer ref="observer" v-slot="{validate,valid}">
        <form method="post" @submit.prevent="updateLaptop">
            <label class="col-form-label">Laptop Name</label>
            <validation-provider name="Name" rules="required|max:7|min:3"  v-slot="{errors}">
                <input class="form-control" type="text" v-model="newLaptop.laptopName" />
                <span class="text-danger font-italic">{{errors[0]}}</span>
            </validation-provider>
            <br />

            <label class="col-form-label">Qty</label>
            <validation-provider name="Qty" rules="required" v-slot="{errors}">
                <input class="form-control" type="number" v-model="newLaptop.laptopQty" />
                <span class="text-danger font-italic">{{errors[0]}}</span>
            </validation-provider>
            <br />   
            <button class="btn btn-primary" type="submit">
                <fa-icon icon="check"></fa-icon>
                Submit
            </button>
        </form>
    </validation-observer>
</template>

<script lang="ts">
import Vue from 'vue';
    import Component from 'vue-class-component';
    import swal from 'sweetalert2';
    import { LaptopModel, LaptopService } from '../services/NSwagService';
    import { ValidationObserver } from 'vee-validate';

    @Component({
        created: async function (this: UpdateLaptop) {
            await this.getSpecificLaptop()
        }
})
export default class UpdateLaptop extends Vue {
    service: LaptopService = new LaptopService();

    newLaptop: LaptopModel = {
        laptopName: '',
        laptopQty: 0
    }

    async getSpecificLaptop(): Promise<void> {
        const urlParams = new URLSearchParams(window.location.search);
        const laptopId = urlParams.get('laptopId')?.valueOf();
        if (laptopId != null) {
             this.newLaptop = await this.service.getSpecificLaptop(parseInt(laptopId));
        }
    }

        async updateLaptop(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            swal.fire({
                title: 'Are you sure?',
                text: "Update this laptop data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.updateLaptop(this.newLaptop);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    ).then(async (result) => {window.location.href = '/laptop/index' })
                }
            })
        }
}
</script>
