﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to Quiz 1 Albert Cryssiover (Laptop).</p>
</div>

<hello-world></hello-world>